@import url("/css/main.css");

.fondo_header {
    background: transparent;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo {
    width: 110px;
    margin: 20px 0;
}
.header nav ul {
    display: flex;
}
.header nav ul li {
    margin: 0 0 0 40px;
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: var(--tx-primary-dark);
    font-weight: lighter;
    text-transform: uppercase;
}
.header nav ul li a:hover {
    color: var(--tx-primary-light);
}
