
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/header/header.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/assets/img/logos/LogoHorizontal.png" alt="Logo Kaphiy">
        </div>
        <nav>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">MENÚ</a></li>
                <li><a href="#">NUESTRO CAFÉ</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">SOBRE NOSOTROS</a></li>

            </ul>
        </nav>
    </header>
</body>
</html>