<div class="header-wrapper">
    <div class="header container">
        <div class="logo">
            <img src="/assets/img/logos/LogoHorizontal.png" alt="Logo Kaphiy" />
        </div>

        <nav>
            <ul>
                <li><a href="#">inicio</a></li>
                <li><a href="#">menú</a></li>
                <li><a href="#">nuestro café</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">sobre nosotros</a></li>
            </ul>
        </nav>
    </div>
</div>
