<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/components/slider/slider.css" />
    </head>
    <body>
        <div class="slider">
            <div class="list carousel">
                <!-- Añadir clase carousel para el manejo del script -->
                <div class="item active">
                    <img src="/assets/img/banners/bann1.jpg" alt="Imagen 1" />
                </div>
                <div class="item">
                    <img src="/assets/img/banners/bann2.jpg" alt="Imagen 2" />
                </div>
                <div class="item">
                    <img src="/assets/img/banners/bann3.jpg" alt="Imagen 3" />
                </div>
                <div class="item">
                    <img src="/assets/img/banners/bann4.jpg" alt="Imagen 4" />
                </div>
                <div class="item">
                    <img src="/assets/img/banners/bann5.webp" alt="Imagen 5" />
                </div>
                <div class="item">
                    <img src="/assets/img/banners/bann6.jpg" alt="Imagen 6" />
                </div>
                <div class="item">
                    <img src="/assets/img/banners/bann7.jpg" alt="Imagen 7" />
                </div>
            </div>

            <div class="buttons">
                <button id="left"><</button>
                <!-- Cambiar id a "left" para el manejo del script -->
                <button id="right">></button>
                <!-- Cambiar id a "right" para el manejo del script -->
            </div>

            <div class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </div>
        </div>

        <script src="/components/slider/slider.js" defer></script>
    </body>
</html>
