<div class="footer-wrapper">
    <div class="footer container">
        <div class="footer__logo">
            <img
                class="footer__logo--img"
                src="/assets/img/logos/Horizontal individual blanco.png"
                alt="Logo de Kaphiy Perú"
            />
        </div>
        <ul class="footer__pages">
            <li class="footer__pages-item">
                <a class="footer__pages-link" href="#">Inicio</a>
            </li>
            <li class="footer__pages-item">
                <a class="footer__pages-link" href="#">Menú</a>
            </li>
            <li class="footer__pages-item">
                <a class="footer__pages-link" href="#">Servicios</a>
            </li>
            <li class="footer__pages-item">
                <a class="footer__pages-link" href="#">Nuestro Café</a>
            </li>
            <li class="footer__pages-item">
                <a class="footer__pages-link" href="#">Blog</a>
            </li>
            <li class="footer__pages-item">
                <a class="footer__pages-link" href="#">Nosotros</a>
            </li>
        </ul>

        <div class="footer__contacto">
            <h3 class="footer__contacto-titulo">Contacto</h3>
            <address>
                <ul class="footer__contact-list">
                    <!-- Clase para la lista de contacto -->
                    <li class="footer__contact-item">
                        <a class="footer__contact-link" href="tel:998098987"
                            >998098987</a
                        >
                    </li>
                    <li class="footer__contact-item">
                        <a
                            class="footer__contact-link"
                            href="mailto:contacto@Kaphiyperu.com"
                            >contacto@Kaphiyperu.com</a
                        >
                    </li>
                    <li class="footer__contact-item">Jr. Ayacucho 9032</li>
                    <!-- Eliminado el enlace duplicado -->
                </ul>
            </address>
        </div>
        <div class="footer__suscribir">
            <h3 class="footer__suscribir-titulo">
                Suscríbete a nuestro boletín
            </h3>
            <form class="footer__subscribe-form">
                <input
                    type="email"
                    id="email"
                    placeholder="Tu correo electrónico"
                    class="footer__subscribe-input"
                    required
                />
                <input
                    type="submit"
                    value="Enviar"
                    class="footer__subscribe-button"
                />
            </form>
            <div class="redes__sociales">
                <a
                    href="https://facebook.com"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img class="redes__sociales--fb" alt="Facebook" />
                </a>
                <a
                    href="https://instagram.com"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img class="redes__sociales--ig" alt="Instagram" />
                </a>
                <a
                    href="https://wa.me/your-number"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img class="redes__sociales--wa" alt="WhatsApp" />
                </a>
                <a
                    href="https://twitter.com"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img class="redes__sociales--tt" alt="Twitter" />
                </a>
                <a
                    href="https://tiktok.com"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img class="redes__sociales--x" alt="TikTok" />
                </a>
            </div>
        </div>
    </div>
</div>
