@import url("/css/main.css");

.banner-wrapper {
    background-image: url(/assets/img/img-content/bg-banner.png);
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    background-size: contain;
    background-position: center;
    padding-top: 8rem;
    height: 87vh;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

@media (min-width: 768) {
    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}

.banner__info {
    width: 55%;
}

.banner__info-title {
    width: 80%;
}
.banner__info-description {
    margin: 3rem 0 3rem 0;
}

.banner__buttons {
    display: flex;
    gap: 2rem;
}

.banner__button {
    padding: 1rem 3rem;
    border-radius: 5rem;
    width: 22rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.banner__button--contact {
    border: 1px solid var(--tx-white);
    color: var(--tx-white);
    background-color: var(--bg-black);
}
.banner__button--contact {
    border: 1px solid #000;
}

.banner__button--cafeteria {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
}
.banner__button--cafeteria svg {
    padding: 0.1rem;
}

.banner__media {
    width: 45%;
    padding-left: 15rem;
}

/* best-procucts__list */
.best-products-wrapper {
    background-color: #f5f5f5;
    padding: 6rem 0 7rem 0;
}

.best-products__title {
    font-size: 2.4rem;
    color: var(--tx-primary-chocolate);
    font-weight: 400;
    text-transform: uppercase;
}

.best-products__list {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    padding-top: 10rem;
    z-index: 20;
}

.best-products__item {
    background-color: var(--bg-white);
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
    position: relative;
}

.best-products__img {
    width: 21.8rem;
    margin-top: -10rem;
}

.best-products__name {
    font-size: 1.6rem;
    color: var(--tx-primary-beige);
    font-weight: 300;
    padding: 2rem 0 2rem 0;
}

.best-products__description {
    font-size: 1.6rem;
    font-weight: 300;
    color: #646464;
    text-align: center;
}

.best-products__item--active {
    background-color: #e1d7cc;
}

.categories-wrapper {
    margin: 7rem 0 7rem 0;
}
.categories {
    display: flex;
    gap: 10rem;
}

.categories__list {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 50%;
}
.categories__item {
    background-color: #f2f2f2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
}

.categories__img--active {
    background-color: var(--bg-primary-chocolate);
    color: var(--tx-white);
}
.categories__img {
    width: 6rem;
    height: 6rem;
}
.categories__name {
    font-size: 1.4rem;
    padding: 3rem 0 3rem 0;
}

.categories__description {
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
}

/* categories__wrapper */
.categories__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.categories__info {
    width: 50%;
    display: flex;
    align-items: center;
}

.categories__info__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--tx-primary-chocolate);
}

.categories__info__description {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
}

.categories__info__button {
    width: 20rem;
    background-color: var(--bg-primary-beige);
    font-size: 1.6rem;
    color: var(--tx-white);
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

/* .coffee-benefits-wrapper  */
.coffee-benefits-wrapper {
    background-color: var(--bg-primary-beige);
}

.coffie-benefits {
    display: flex;
    align-items: center;
    padding: 6rem 0 6rem 0;
}

.coffee-benefits__list {
    width: 50%;
}
.coffee-benefits__item {
    border-left: 4px solid var(--bg-white);
    margin-bottom: 2rem;
    padding-left: 2rem;
}
.coffee-benefits__img {
    width: 50%;
}

.coffee-benefits__item__title {
    font-size: 1.6rem;
    color: var(--tx-white);
}
.coffee-benefits__item__description {
    color: var(--tx-white);
    font-weight: 300;
}

/* location */
.locations-wrapper {
    padding: 8rem 0;
}

.locations__title {
    text-align: center;
    font-size: 2.4rem;
    color: var(--tx-primary-chocolate);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.locations__list {
    display: flex;
    justify-content: space-around;
}

.locations__item {
    display: flex;
    gap: 2rem;
}

.locations__item-icon {
    width: 4rem;
    height: 4rem;
    object-fit: fill;
}
.locations__item-address {
    font-size: 1.6rem;
}
/* Gallery */

.gallery-wrapper {
    padding-bottom: 5rem;
    background-color: #d9d9d9;
    height: 45rem;
    position: relative;
    margin-top: 35rem;
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 105px);
    gap: 2rem; /* Ajusta el espacio entre imágenes si lo deseas */
    position: absolute;
    margin-top: -35rem;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para ajustar la imagen dentro del área sin distorsión */
}

.gallery-img-1 {
    grid-column: 1/2;
    grid-row: 3/5;
}
.gallery-img-2 {
    grid-column: 2/4;
    grid-row: 1/4;
}
.gallery-img-3 {
    grid-column: 4/5;
    grid-row: 2/4;
}
.gallery-img-4 {
    grid-column: 5/6;
    grid-row: 3/5;
}
.gallery-img-5 {
    grid-column: 2/3;
    grid-row: 4/6;
}
.gallery-img-6 {
    grid-column: 3/5;
    grid-row: 4/7;
}

/* comments */
.comments {
    width: 100%;
    background-color: #f5f5f5;
}

.comments__title {
    padding: 8rem 0 8rem 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--tx-primary-chocolate);
}
.comments__slider-list {
    display: flex;
    gap: 3rem;
    padding: 0rem 5rem 0rem 5rem;
}

.comments__slider-item {
    background-color: #ffffff;
    padding: 0 4rem 0 4rem;
    padding-bottom: 4rem;
    border-radius: 1.5rem;
    position: relative;
}

.comments__slider-item-image {
    width: 6rem;
    top: -2rem;
    position: relative;
}
.comments__slider-item-content {
    margin-bottom: 3rem;
}

.comments__slider-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments__slider-item-rating {
    display: flex;
}
.comments__slider-item-rating-star {
    width: 2rem;
    height: 2rem;
}

.comments__slider-item-rating-star path {
    fill: #ffca28;
}
/* latest-blogs */
.latest-blogs {
    width: 100%;
    padding: 0 4rem 0 4rem;
    background-color: #f5f5f5;
}
.latest-blogs__title {
    padding: 8rem 0 8rem 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--tx-primary-chocolate);
}

.latest-blogs__list {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.latest-blogs__item__title {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 2rem 0;
}
.latest-blogs__item__date {
    font-size: 1.2rem;
    margin: 0 0 3rem 0;
}
