@import url("/css/main.css");

.slider-wrapper {
    background-color: #f5f5f5;
    z-index: 50;
}

/* best-procucts__list */
.best-products-wrapper {
    background-color: #f5f5f5;
    padding: 6rem 0 5rem 0;
}

.best-products__title {
    font-size: 2.4rem;
    color: var(--tx-primary-chocolate);
    font-weight: 400;
    text-transform: uppercase;
}

.best-products__list {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    padding-top: 10rem;
}

.best-products__item {
    background-color: var(--bg-white);
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    position: relative;
}

.best-products__img {
    width: 21.8rem;
    margin-top: -10rem;
}

.best-products__name {
    font-size: 1.6rem;
    color: var(--tx-primary-beige);
    font-weight: 300;
    padding: 2rem 0 2rem 0;
}

.best-products__description {
    font-size: 1.6rem;
    font-weight: 300;
    color: #646464;
}

.best-products__item--active {
    background-color: #e1d7cc;
}

.categories-wrapper {
    margin: 5rem 0 5rem 0;
}
.categories {
    display: flex;
    gap: 10rem;
}

.categories__list {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 50%;
}
.categories__item {
    background-color: #f2f2f2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
}

.categories__img--active {
    background-color: var(--bg-primary-chocolate);
    color: var(--tx-white);
}
.categories__img {
    width: 7rem;
}
.categories__name {
    font-size: 1.4rem;
    padding: 3rem 0 3rem 0;
}

.categories__description {
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
}

.categories__info {
    width: 50%;
    display: flex;
    align-items: center;
}

.categories__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.categories__info__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--tx-primary-chocolate);
}

.categories__info__description {
    font-size: 1.6rem;
    font-weight: 300;
}

.categories__info__button {
    width: 30rem;
}
