* {
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    display: flex;
    width: 100%;
}
.swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.swiper-button-prev {
    padding: 20px 10px;
    --swiper-navigation-size: 40px;
    color: black;
}

.swiper .swiper-pagination {
    --swiper-pagination-color: #fff;
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 10px;
    --swiper-pagination-bottom: 10px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-border-radius: 50%;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}
